body{
  margin: 5%;
  background-color: white;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 50px;
}

h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 25px;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.listOfExistingCharacters{
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.characterRegistration{
  background-color: transparent;
}

.setCharacterNameForm{
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 30%;
  margin-right: 30%;
}

.characterNameInput{
  font-size: 15px;
  margin: 2%;
}

.submitButton{
  flex-shrink: 0;
  background-color: rgb(171, 255, 168);
  border-radius: 10px;
  border: none;
  margin: 2%;
  transition-duration: 0.4s;
  padding: 5px 20px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.submitButton:hover{
  background-color: rgb(229, 255, 228);
  color: rgb(68, 196, 64);
  border: 3px solid rgb(88, 226, 83);
}


.characterNamesContainer {
  display: flex;
  flex-wrap: wrap;
}

.characterNameItem {
  width: 25%; /* Each item takes up 25% of the container width to fit 4 items per row */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  padding: 10px; /* Adjust padding as needed */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.nameButton {
  background-color: rgb(168, 245, 255);
  border-radius: 10px;
  border: 3px transparent;
  margin: 2%;
  transition-duration: 0.4s;
  padding: 2% 10%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nameButton:hover{
  background-color: rgb(231, 252, 255);
  color: rgb(72, 220, 240);
  border: 3px solid rgb(75, 234, 255);
}

.nameButtonDelete {
  background-color: rgb(168, 245, 255);
  border-radius: 10px;
  border: 3px transparent;
  margin: 2%;
  transition-duration: 0.4s;
  padding: 2% 10%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nameButtonDelete:hover{
  background-color: rgb(255, 239, 244);
  color: rgb(255, 92, 138);
  border: 3px solid rgb(255, 133, 168);
  text-decoration: line-through;
}

.invalidCharacterSubmitted {
  color: rgb(255, 92, 138);
}

#readersNav{
  background-color: rgb(255, 253, 153);
}
#readersNav:hover{
  background-color: rgb(255, 254, 213);
  color: rgb(202, 189, 0);
  border: 3px solid rgb(255, 252, 46)
}

#charactersNav{
  background-color: rgb(171, 255, 168);
}
#charactersNav:hover{
  background-color: rgb(229, 255, 228);
  color: rgb(68, 196, 64);
  border: 3px solid rgb(88, 226, 83);
}

#soundsNav{
  background-color: rgb(248, 174, 248);
}
#soundsNav:hover{
  background-color: rgb(250, 233, 250);
  color: rgb(214, 98, 214);
  border: 3px solid rgb(214, 98, 214);
}

.sidebar{
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}

.sidebarItem {
  width: 33%; /* Each item takes up 25% of the container width to fit 4 items per row */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  padding: 10px; /* Adjust padding as needed */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.sidebarButton {
  border-radius: 10px;
  border: 3px transparent;
  margin: 2%;
  transition-duration: 0.4s;
  padding: 2% 10%;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}